@layer utilities {
  * {
    transition: all 0.3s ease-in-out;
  }
  .content-auto {
    content-visibility: auto;
  }
  body {
    font-family: "Ubuntu", sans-serif;
  }
  .shadow-1 {
    box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.83);
  }
  .shadow-2 {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .shadow-btn {
    box-shadow: 0px 0px 14px 7px rgba(245, 131, 7, 0.83);
    -webkit-box-shadow: 0px 0px 14px 7px rgba(245, 131, 7, 0.83);
    -moz-box-shadow: 0px 0px 14px 7px rgba(245, 131, 7, 0.83);
  }
  .gradient-1 {
    background: rgb(245, 131, 7);
    background: linear-gradient(
      90deg,
      rgba(245, 131, 7, 1) 47%,
      rgba(248, 189, 17, 1) 100%
    );
  }
  .gradient-2 {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8995973389355743) 7%,
      rgba(248, 189, 17, 0) 100%
    );
  }
  #hero {
    background-image: url("../img/hero-1.jpg");
    background-size: cover;
    /* color: #ffffffa6; */
  }
  .sidebg {
    background-image: url("../img/bg-sidebar.jpg");
    background-size: cover;
  }
  .bars {
    width: 25px;
    height: 40px;
    display: flex;
  }
  .bars.active .bar-1 {
    transform: rotate(45deg) translate(6px, 6px);
  }
  .bars.active .bar-2 {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  .bar {
    width: 100%;
    height: 3px;
    background-color: rgb(248, 164, 26);
  }
  swiper-slide {
    width: 300px !important;
  }
  .minus-btn,
  .plus-btn {
    font-size: 11px;
  }
  .greybg {
    background-image: url("../img/bg.jpg");
    background-size: cover;
  }
}
